<?xml version="1.0"?>
<robot name="boat_description" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
  	<visual><geometry>
      <box size="0.1 0.1 0.1"/>
  	</geometry></visual>
  </link>
  <link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0.0 0.0 -0.18" rpy="0 0 0"/>
  </joint>

  <link name="front_frame"><visual><geometry>
    <box size="0.025 0.762 0.1"/>
  </geometry></visual></link>

  <joint name="baselink_frontframe" type="fixed">
    <parent link="base_link"/>
    <child link="front_frame"/>
    <origin xyz="0.0 0.0 -0.1" rpy="0 0 0"/>
  </joint>
 
  <link name="camera"><visual><geometry>
    <box size=".025 .1 .05"/>
  </geometry></visual></link>

  <joint name="frontframe_camear" type="fixed">
    <parent link="front_frame"/>
    <child link="camera"/>
    <origin xyz="0.025 0 0.025" rpy="0 0 0"/>
  </joint>
  
  <link name="left_hull"><visual><geometry>
    <box size="1.27 0.254 0.1778"/>
  </geometry></visual></link>
  <joint name="frontframe_lefthull" type="fixed">
    <parent link="front_frame"/>
    <child link="left_hull"/>
    <origin xyz="-0.5 0.32 -0.14" rpy="0 0 0"/>
  </joint>
  <link name="right_hull"><visual><geometry>
    <box size="1.27 0.254 0.1778"/>
  </geometry></visual></link>
  <joint name="lefthull_righthull" type="fixed">
    <parent link="left_hull"/>
    <child link="right_hull"/>
    <origin xyz="0 -0.654 0" rpy="0 0 0"/>
  </joint>
  <link name="middle_frame"><visual><geometry>
    <box size="0.025 0.762 0.025"/>
  </geometry></visual></link>
  <link name="bottom_frame"><visual><geometry>
    <box size="0.025 0.762 0.025"/>
  </geometry></visual></link>

  <joint name="frontframe_middleframe" type="fixed">
    <parent link="left_hull"/>
    <child link="middle_frame"/>
    <origin xyz="0 -.325 .1" rpy="0 0 0"/>
  </joint>
  <joint name="middleframe_bottomframe" type="fixed">
    <parent link="middle_frame"/>
    <child link="bottom_frame"/>
    <origin xyz="-0.51 0 0" rpy="0 0 0"/>
  </joint>
  <link name="polycarbsheet"><visual><geometry>
    <box size=".762 .762 .013"/>
  </geometry></visual></link>
  <joint name="middleframe_polycarb" type="fixed">
    <parent link="middle_frame"/>
    <child link="polycarbsheet"/>
    <origin xyz="-.26 0 .013" rpy="0 0 0"/>
  </joint>
  <link name="tupperware"><visual><geometry>
    <box size=".3048 .6096 .2032"/>
  </geometry></visual></link>
  <joint name="polycarb_tupperware" type="fixed">
    <parent link="polycarbsheet"/>
    <child link="tupperware"/>
    <origin xyz="0 0 .1" rpy="0 0 0"/>
  </joint>
</robot>